#topicmap-panel .topic {
    fill: #1f77b4;
    stroke: #fff;
    stroke-width: 1.5px;
}

#topicmap-panel .topic.selected {
    fill: red;
}

#topicmap-panel .assoc {
    stroke: #999;
    stroke-width: 4px;
    stroke-opacity: 0.6;
}
